#include<stdio.h>
#include<sys/types.h>
#include<unistd.h>
int main()
{
print(“\n\nWelcome to C.C,  by Pankhuri Srivastava”);
int n=0;
int m=0;
pid_t pid;
Do
{
printf(“ please enter a number greater than 0 to run c.c”)
scanf(“%d”,&m);
}while(m<=0);
pid=fork();
if(pid==0)
{
printf(“\n child is processing..\n”);
printf(“%d”,m);
while(m!=1)
{
if(m%2==0)
{
m=m/2;
}
else
{
m=m*3+1;
}
printf(“\n%d”,m);
}
printf(“child process is done”);
}
else
{
printf(“parent is waiting for child to complete its process.”);
wait();
printf(“\n parent process is done”);
}
return 0;
}
